<h1>Lets Eat Burgers!</h1>
<div class="row top addBurger">

  <div class="col">
    <h2>Burgers You Want To Eat!</h2>

      {{#each burgers}}
      {{#unless devoured}}
      {{> burger/burger-block devoured=true}}
      {{/unless}}
      {{/each}}

  </div>

  <div class="col">
    <h2>Burgers You Have Eaten!</h2>


      {{#each burgers}}
      {{#if devoured}}
      {{> burger/burger-blockEat}}
      {{/if}}
      {{/each}}

  </div>
</div>

<div class="row top justify-content-center">
  <div class="col-6 addBurger">


    <h2>Add a Burger</h2>
    <form class="create-form">

      <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name">
      </div>

      <button type="submit">Add Burger</button>
    </form>
  </div>
</div>